set_prop(dataservice_app, diag_prop);
#allow dataservice_app default_android_hwservice:hwservice_manager find;
r_dir_file(dataservice_app, cnd_core_data_file)
